.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.level_select_div {
  display: flex;
  justify-content: space-around;
}
.btn_level {
  margin-top: 20px;
  margin-left: 80px;
  margin-top: 80px;
}
.container{
  
}
